.homeContainer {
	width: 100%;
	min-height: 100vh;
	background-image: url('../Imagenes/pxfuel.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

}

.menuContainer {
	background-color:  rgba(22, 16, 16, 0.658);
	box-shadow: 0 0 10px 5px rgba(121, 115, 115, 0.658);
	backdrop-filter: blur(10px);
	height: 130px;
}

.subMenuContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -30px;
}

.filtersContainer {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 18px;
  	font-family: Arial, sans-serif;
}

.paginatedList {
	display: flex;
	place-items: center;
	justify-content: center;
	margin-top: 20px;
}

.pokeListContainer {
	width: 100%;
	height: 100%;
	padding-top: 10px;
}

.pokeList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
	place-items: center;
	align-content: center;
	gap: 20px;
}



