.navSecondaryContainer {
    z-index: 1;
	padding: 0 50px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;

	background-color: rgba(22, 16, 16, 0.658);
	box-shadow: 0 0 10px 5px rgba(121, 115, 115, 0.658);
	backdrop-filter: blur(5px);
}


.linkNavSecondary {
    padding: 10px 20px;
    color: #fff;
    border: solid 1px #768d84; /* Cambio el borde a rojo oscuro */
    border-radius: 20px;
    background: #0faf72; /* Cambio el fondo a rojo oscuro */
    font-family: 'Open Sans', sans-serif; /* Agrego una fuente legible y moderna */
    transition: all 0.3s ease-in-out; /* Agrego una transición suave */
    text-decoration: none;
}

.linkNavSecondary:hover {
    background-color: #fff; /* Cambio el fondo a blanco */
    border: solid 1px #fff; /* Cambio el borde a blanco */
    color: #af0f47; /* Cambio el texto a rojo oscuro */
    cursor: pointer; /* Agrego un cursor para indicar que se trata de un botón */
}