.paginatedContainer {
	margin: 0 0 5px 0;
}

.numberButton {
	width: 25px;
	height: 25px;
	margin: 5px 5px;
	border-radius: 50%;
	border: solid 1px #fff;
	font-size: 15px;
}

.buttonActive {
	width: 25px;
	height: 25px;
	margin: 5px 5px;
	border-radius: 50%;
	font-size: 15px;

	background: #000000;
	border: solid 2.5px #fcff56;

	color: #fff;
	cursor: pointer;
}

.numberButton:hover,
.currentButton:hover {
	background: #000000;
	border: solid 2.5px #fcff56;
	color: #fff;
	cursor: pointer;
}

.currentButton {
	width: 50px;
	height: 30px;
	margin: 0 10px;
	border: solid 1px #fff;
	border-radius: 20px;
	font-size: 15px;
}
