.navHomeContainer {
	width: 95%;
	padding: 10px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.navHomeButtonCreate {
	margin-left: 20px;
    padding: 10px 20px;
    color: #fff;
    border: none; /* Cambio el borde a rojo oscuro */
    border-radius: 20px;
    background: #0faf72; /* Cambio el fondo a rojo oscuro */
    font-family: 'Open Sans', sans-serif; /* Agrego una fuente legible y moderna */
    transition: all 0.3s ease-in-out; /* Agrego una transición suave */
	text-decoration: none;
	font-weight: bold;
	
}

.navHomeButtonCreate:hover {
    background-color: #F6CF57; /* Cambio el fondo a blanco */
    border: none; /* Cambio el borde a blanco */
    color: #000000; /* Cambio el texto a rojo oscuro */
    cursor: pointer; /* Agrego un cursor para indicar que se trata de un botón */
	font-weight: bold;
}


.variantText {
	font-weight: 200;
}

@media (max-width: 700px) {
	.navHomeContainer {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 10px 40px;
		font-size: 14px;
	}

	.navHomeButtonCreate {
		padding: 5px 10px;
	}

}